:root {
    --color-back: #f4dcba;
    --color-form: #f4922f;
    --color-text: #98c4b7;
    --color-borde: #5f4434;

    --font-titulo: ;
    --font-campo: typewriter;
}

@font-face {
    font-family: typewriter;
    src: url(/recursos/fuentes/anitypewriter/AniTypewriter.ttf);
}

@font-face {
    font-family: titulo;
    src: url(/recursos/fuentes/retrow_mentho/Retrow\ Mentho.ttf);
}
@font-face {
    font-family: texto;
    src: url(/recursos/fuentes/mamae_que_nos_faz/Maria_lucia.ttf);
}

body {
    background-color: var(--color-back);
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
}
.contenedor-formulario {
    max-height: 80%;
    width: fit-content;
    max-width: 60%;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    background-color: var(--color-form);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    border: 2px solid var(--color-borde);
}

h1{
    font-size: 90px;
    text-align: center;
    color: var(--color-text);
    text-shadow: 5px 5px black;
    font-family: titulo;
}
h2{
    margin-bottom: 0px;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    inline-size: 70%;
    color: var(--color-borde);
}

.informacion-boton {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    
}
.informacion {
    width: 100%;
}
.informacion-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.informacion-frase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campo {
    background: none;
    width: 90%;
    height: 30px;
    border: none;
    font-family: var(--font-campo);
}



.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

br {
    height: 20px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

textarea {
    width: 100%;
    height: 40%;
    background: none;
    border: none;
}


fieldset {
    border-radius: 10px;
    max-height: fit-content;
    border: 2px solid var(--color-borde);
    padding: 0;
    padding-left: 20px;
    background-color: var(--color-back);
}

textarea:focus {
    border: none;
    outline: none;
}

.campo:focus {
    outline: none;
}
.form-boton {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr {
    max-width: 80%;
    border: 2px solid var(--color-borde);
}

legend {
    color: white;
    background-color: var(--color-borde);
    border-radius: 20px;
    padding: 0px 10px;
    font-size: 15px;
}

.btn-enviar {
    padding: 10px 50px;
    border-radius: 10px;
    border: 2px solid var(--color-borde);
    background-color: var(--color-borde);
    box-shadow: 2px 2px black;
}

.btn-enviar > span {
    font-size: 40px;
    font-family: titulo;
    color: var(--color-back);
}

.btn-enviar:hover{
    background-color: var(--color-back);
}
.btn-enviar:hover span {
    color: var(--color-borde);
}

header {
    top: 0;
}

.btn-back {
    margin: 10px;
    border-radius: 50px;
    border: 2px solid var(--color-borde);
    height: 50px;
    width: 50px;
    background-color: var(--color-borde);
}

.btn-back > a{
    text-decoration: none;
    font-size: 40px;
    color: var(--color-back);
}