:root {
    /*Tema 1*/
    --t1-color-turquesa: #99cba6;
    --t1-color-marron: #7e4b27;
    --t1-color-beige: #f7e8ac;
    --t1-color-naranja: #ff8400;
    --t1-color-amarillo: #f2ab23;

    /*Tema 2*/
    --t2-color-celeste: #46afb0;
    --t2-color-beige: #e0d0ae;
    --t2-color-sepia: #756c5d;
    --t2-color-marron: #4e4741;
    --t2-color-sepia-obscuro: #2d2727;
    --t2-color-marron-obscuro: #1a1819;
    --t2-color-amarillo: #eead1d;
    --t2-color-consola: #1f291f;

    --t2-borde-normal: 5px solid var(--t2-color-amarillo);
    --t2-borde-consola: 3px solid var(--t2-color-amarillo);

    --t2-brillo-consola: 0 0 55px var(--t2-color-amarillo),
        inset 0 0 15px var(--t2-color-amarillo);

    --t2-filtro-consola: invert(78%) sepia(52%) saturate(2763%) hue-rotate(351deg) brightness(102%) contrast(87%);
}

@font-face {
    font-family: "titulos";
    src: url(/recursos/fuentes/positive_system/Positive\ System.otf);
}
@font-face {
    font-family: "broadway-titulo";
    src: url(/recursos/fuentes/broadway_2/Broadway.ttf);
}

@font-face {
    font-family: "consola-titulo";
    src: url(/recursos/fuentes/depixel/DePixelHalbfett.ttf);
}

@font-face {
    font-family: "consola-texto";
    src: url(/recursos/fuentes/depixel/DePixelBreit.ttf);
}

@font-face {
    font-family: "VT323";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isRFJXGdg.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: "VT323";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isfFJU.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
        U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e0d0ae;
}

body {
    
    position: relative;
    overflow-y: hidden;
}

.borde {
    border: var(--t2-borde-normal);
    box-shadow: 0 0 10px var(--t2-color-amarillo),
        inset 0 0 10px var(--t2-color-amarillo);
    background-color: var(--t2-color-consola);
}

.pantalla {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--t2-color-consola);
}

.img {
    position: absolute;
    background-image: url(/recursos/imagenes/fx/scanlines.png);
    background-repeat: repeat;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    pointer-events: none;
}

#preloader p {
    color: var(--t2-color-amarillo);
    font-size: 60px;
    font-family: VT323;
    text-shadow: 0 0 5px var(--t2-color-amarillo);
}

.pantalla p {
    color: var(--t2-color-amarillo);
    font-size: 60px;
    font-family: VT323;
    text-shadow: 0 0 5px var(--t2-color-amarillo);
}

#coso {
    margin-right: 10px;
}

.loading {
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 10px;
}

.contenedor {
    position: relative;
    margin: auto;
    padding: 5px;
    width: 400px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    color: #fff;
    margin: auto auto;
    padding: 5px;
    width: 100%;
    max-height: fit-content;
    align-self: flex-end;
    animation: entrada 3.5s ease-in-out;
}

.boton1 {
    height: auto;
}

a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.2s;
    letter-spacing: 4;
    text-decoration: none;
    color: var(--t2-color-amarillo);
}

.boton p {
    font-size: 40px;
    padding: 20px 10px
}

a:hover {
    background-color: var(--t2-color-amarillo);
    color: var(--t2-color-consola);
}

a:hover p {
    color: var(--t2-color-consola);
}

#preloader {
    top: 0;
    left: 0;
    background: rgb(14, 14, 14);
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}